@import "tailwindcss";

body {
  background: #f9fafb;
  color: #171717;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}
